pipeline/PL_Archieve_files_after_load.json
{
	"name": "PL_Archieve_files_after_load",
	"properties": {
		"activities": [
			{
				"name": "Lookup_data_from_sql_log_table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select file_name from table_log where status='y'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "azuresql_rohitdb",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "iterate_files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_data_from_sql_log_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_data_from_sql_log_table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copy_files_from_blob_to_sql_db",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "blobsource_parameterized",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "azuresql_bourntecdb_parameterized",
									"type": "DatasetReference",
									"parameters": {
										"tbname": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "path_for_folder_createinside_blob",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "copy_files_from_blob_to_sql_db",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "a",
								"value": {
									"value": "@concat('archive/', formatDateTime(utcNow(), 'yyyy-MM-dd'), '/', item().file_name)\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "move_data_from_source_to_archive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "path_for_folder_createinside_blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "blobsource_parameterized",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "parameterized_folder_blob",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@variables('a')",
											"type": "Expression"
										},
										"file": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete_files_from_source_after_move_to_archieve",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "move_data_from_source_to_archive",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "blobsource_parameterized",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"a": {
				"type": "String"
			}
		},
		"folder": {
			"name": "rohit_pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2025-04-22T10:46:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}