pipeline/PL_Filter_files_by_date_and_load_sqldb.json
{
	"name": "PL_Filter_files_by_date_and_load_sqldb",
	"properties": {
		"activities": [
			{
				"name": "Get_files_from_blob",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "source_blob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_files_from_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_files_from_blob').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(\n    not(equals(indexOf(item().name, '20'), -1)),  \n    greaterOrEquals(\n        convertFromUtc(\n            formatDateTime(concat(substring(item().name, indexOf(item().name, '20'), 10), 'T00:00:00Z'), 'yyyy-MM-ddTHH:mm:ssZ'),\n            'UTC'\n        ),\n        addDays(utcNow(), -30)\n    )\n)\n\n\n\n\n\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings",
													"compressionProperties": {
														"type": "ZipDeflateReadSettings"
													}
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "blobsource_parameterized",
												"type": "DatasetReference",
												"parameters": {
													"filename": {
														"value": "@item().name\n",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "azuresql_bourntecdb_parameterized",
												"type": "DatasetReference",
												"parameters": {
													"tbname": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "rohit_pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2025-04-18T10:48:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}