pipeline/PL_StoreBlobFilenames.json
{
	"name": "PL_StoreBlobFilenames",
	"properties": {
		"activities": [
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "azuresqldatabaselinked",
					"type": "LinkedServiceReference",
					"parameters": {
						"dbname": "rohit_db"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "IF OBJECT_ID('dbo.FileLog', 'U') IS NOT NULL\n    DROP TABLE dbo.FileLog;\n\nCREATE TABLE FileLog (\n    FileName VARCHAR(255),\n    LoggedAt DATETIME DEFAULT GETDATE()\n);\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "source_blob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertFileName]",
								"storedProcedureParameters": {
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "azuresqldatabaselinked",
								"type": "LinkedServiceReference",
								"parameters": {
									"dbname": "rohit_db"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "rohit_pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2025-04-18T13:32:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}